#################
# Rust Snippets #
#################

priority 10 

snippet pri, "println!(...)" b
println!("${1} = {:#?}", ${2});    
endsnippet

snippet todo "// Todo: remove after test..." 
// Todo: remove after test...${1}
endsnippet  

snippet dbg, "dbg!(var);" 
dbg!(${1}); // Todo: remove after test...
endsnippet  

# vim:ft=snippets:
